<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1033756512406-c5fo8c6fnt56dv22h4ohua7ulg83si53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033756512406-c5fo8c6fnt56dv22h4ohua7ulg83si53</string>
	<key>API_KEY</key>
	<string>AIzaSyCo9g4-jtyiZEJELt4YeM_D9vEHPKnRKS8</string>
	<key>GCM_SENDER_ID</key>
	<string>1033756512406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yakis.MyTrax</string>
	<key>PROJECT_ID</key>
	<string>mytrax-47920</string>
	<key>STORAGE_BUCKET</key>
	<string>mytrax-47920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033756512406:ios:ed54d3b6b4a1d554</string>
	<key>DATABASE_URL</key>
	<string>https://mytrax-47920.firebaseio.com</string>
</dict>
</plist>